<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dignissimos, officiis, eum inventore ullam neque
        velit adipisci, pariatur esse quibusdam error provident doloribus reiciendis consectetur exercitationem iusto
        sit omnis. Suscipit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ratione eius ipsam quod
        atque quae alias, voluptatem laudantium, odit molestias mollitia quisquam excepturi aut? Eligendi architecto
        nobis vel odit explicabo! lorem
    </p>
</article>